.card{
    width: 500px;
    &__image{
        width: 450px;
    }
    &__textbox{
        &__title{
            font-size: 18px;
        }
        &__text{
            font-size: 14px;
        }
    }
}